attrs==25.1.0
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.1
configparser==4.0.2
coverage==7.6.12
crayons==0.3.0
entrypoints==0.3
execnet==2.1.1
filelock==3.13.1
flake8==3.7.9
fsspec==2024.6.1
h11==0.14.0
httplib2==0.22.0
idna==2.8
iniconfig==2.0.0
Jinja2==3.1.5
Mako==1.1.0
Markdown==3.1.1
mccabe==0.6.1
mpmath==1.3.0
networkx==3.3
numpy==2.1.2
outcome==1.3.0.post0
packaging==24.2
pdoc3==0.7.2
pillow==11.0.0
pluggy==1.5.0
pycodestyle==2.5.0
pycparser==2.22
pyflakes==2.1.1
pyparsing==3.2.1
PySocks==1.7.1
pytest==8.3.4
pytest-cov==6.0.0
pytest-html==4.1.1
pytest-metadata==3.1.1
pytest-xdist==3.6.1
robotframework==7.2.2
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
robotframework-seleniumlibrary==6.7.1
setuptools==70.2.0
sniffio==1.3.1
sortedcontainers==2.4.0
sympy==1.13.1
trio==0.29.0
trio-websocket==0.12.2
typing_extensions==4.12.2
webdriver-manager==2.3.0
websocket-client==1.8.0
wsproto==1.2.0
selenium==4.15.0
